<p>
  search works!
  <ion-input type="tel" value="333"></ion-input>

  <ion-content fullscreen>
    <ion-list lines="full" class="ion-no-margin">
      <ion-item-group>
      <ion-item>
          <ion-label position="stacked">Country code</ion-label>
          <ion-input autocomplete="tel-country-code" inputmode="tel-country-code" type="tel-country-code"  placeholder="Country code"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Mobile number</ion-label>
          <ion-input autocomplete="tel" inputmode="tel" type="tel"  placeholder="Mobile number"></ion-input>
      </ion-item>
    </ion-item-group>
    </ion-list>
  </ion-content>
</p>
