<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon name="finger-print-outline"></ion-icon>
      <ion-label>Report</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
